<?xml version='1.0' encoding='utf-8'?>
<widget id="com.megster.bluetooth.led" version="0.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>IntelliPowebox</name>
    <description>
        PhoneGap app for controlling an Adafruit NeoPixel LED strip via Bluetooth Serial
    </description>
    <author href="https://github.com/don">
        Don Coleman
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <engine name="android" spec="~5.1.1" />
	<icon src="/img/Observatory.png"/>
</widget>
